Header set Content-Security-Policy "block-all-mixed-content; upgrade-insecure-requests; default-src 'self'; connect-src 'self' https://securetoken.googleapis.com https://fcm.googleapis.com https://www.googleapis.com https://sv2.brandflow.net:8443; script-src 'self' 'unsafe-eval' 'unsafe-inline' https://brandflow.net https://ajax.googleapis.com https://unpkg.com https://cbcf.info; style-src 'self' https://unpkg.com data: 'unsafe-inline'; font-src 'self' https://unpkg.com; img-src 'self' data: https:"
Header set Access-Control-Allow-Origin "*"

# Extra Security Headers
<IfModule mod_headers.c>
	Header set X-XSS-Protection "1; mode=block"
	Header always append X-Frame-Options SAMEORIGIN
	Header set X-Content-Type-Options nosniff
</IfModule>

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php


ErrorDocument 404 /site/not-ready
DirectoryIndex home.html index.html

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>